body{
    margin: 0px;
    display: flex;
}

form{
    background-color: #E0EEF1;
    height: 100vh;
    width: 100vh;
    border-radius: 2%;
}

.container{
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

h1{
    text-align: center;
}

.inputs{
    background-color: #E0EEF1;
}

fieldset{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#Connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cc{
    margin: 10px;
}

#family{
    height: 100vh;
}

#logo{
    height: 200px;
    
}