body {
    margin: 0;
    font-family: "Comic Sans MS", sans-serif;
    height: 100%;
    background-color: #e0eef1;
}

form {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #226979;
    margin: 0;
    padding: 10px;
}

p {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.inputs {
    border-radius: 8px;
    background-color: #E0EEF1;
    padding: 3% 10%;
    display: inline-block;
    width: 100%;
    margin-top: 1%;
}

#login,
#password {
    margin-top: 1%;
}

fieldset {
    display: flex;
    justify-content: space-around;
    border: none;
}

#Connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2%;
}

.cc {
    margin: 5% 0;
    width: 100%;
    text-align: center;
}

#logo {
    height: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

#submitbutton {
    background-color: #226979;
    color: white;
    border-radius: 8px;
    padding: 3% 20%;
    font-size: 15px;
    display: inline-block;
}

#submitDiv {
    width: 80%;
    text-align: center;
    margin-top: 4%;
}

#divlogo {
    height: 18%;
    padding: 2%;
}

label {
    font-size: 150%;
    margin: 2%;
}

#rightPart {
    background-color: white;
    box-shadow: 0px 0px 1.5em rgb(199, 199, 199);
    padding: 2%;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
}

#family {
    height: 93.2vh;
}

#familyGlobal {
    height: 100%;
}

#header {
    margin: 0;
}

#page {
    display: flex;
}

#lieninscription {
    color: #226979;
}

@media only screen and (max-width: 1200px) {
    #familyGlobal {
        display: none;
    }

    #rightPart {
        width: 70%;
        margin: 0 auto;
        margin-top: 2%;
    }

    .inputs {
        width: 70%;
        height: auto;
    }
}
