/* Réinitialisation des marges et des paddings pour éviter les styles par défaut du navigateur */
.footer{
    font-family: "Comic Sans MS", sans-serif;
}
 ul {
    margin: 0;
    padding: 0;
}

/* Style du footer */
.footer {
    background-color: #E0EEF1;
    color: #fff;
    padding: 40px 0;
    position: absolute;
    bottom: 0; /* Alignement en bas de la page */
    width: 100%; /* Occupe toute la largeur de la page */
}

.footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
#Liens{
    display: flex;
    justify-content: space-between;
}

/* Style du logo */
.footer-logo{
    justify-self: center;
}
.footer-logo img {
    max-width: 180px;
}

/* Style des liens */

.footer-inner ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    
}

.footer-links li {
    margin-right: 120px;
}

.lienSousTitre a{
    text-decoration: none;
    color: #000;
   
    transition: color 0.3s;
}
.lienTitre a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
}

li::marker {
    display: none;
}

.lien:hover {
    color: #226979;
}

.lien {
    justify-self:center;
    
}
li{
    margin: 5% 0% 5%;
}
.lienTitre{
    margin-bottom: 10%;
}


.lienTitre a{
    color: #000;
} 

.lienSousTitre a{
    color: gray;
}

#ResLogo {
    display: flex;
    flex-direction: row;
}

#follow-text-div p{
    margin: 0 0 10%;
}

/* Style des icônes des réseaux sociaux */

.footer-social {
    display: flex;
    grid-column: 4;
    bottom: 0;
    right: 0;
    
}

.footer-social ul {
    list-style-type: none;
    display: flex;
}

.footer-social li {
    margin-right: 10px;
}


.footer-social{
    align-items: flex-end;
}

.footer-social a img {
    max-width: 30px;
}

#follow-text {
    color: #000;
    font-weight: bold;
}

#follow-text-div{
    margin-right:4.5%;
}