body{
    margin: 0;
}
.footer{
    font-family: "Comic Sans MS", sans-serif;
}
 ul {
    margin: 0;
    padding: 0;
}

/* Footer style */
.footer {
    background-color: #E0EEF1;
    color: #fff;
    padding: 40px 0;
    
    height: 100%;
    width: 100%; 
}

.footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
#Liens{
    display: flex;
    justify-content: space-between;
}

/* Logo design */
.footer-logo{
    justify-self: center;
}
.footer-logo img {
    max-width: 180px;
}

.footer-logo a img:hover {
    transform: scale(0.8); 
    transition: transform 0.3s;
}

/* Link style */

.footer-inner ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    
}

.footer-links li {
    margin-right: 120px;
}

.linkSubtitle a{
    text-decoration: none;
    color: #000;
   
    transition: color 0.3s;
}
.linkTitle a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
}

li::marker {
    display: none;
}

.linkSubtitle a:hover {
    color: #cccace;
}

.link {
    justify-self:center;
    
}
li{
    margin: 5% 0% 5%;
}
.linkTitle{
    margin-bottom: 10%;
}


.linkTitle a{
    color: #000;
} 

.linkSubtitle a{
    color: rgb(95, 94, 94);
}

#ResLogo {
    display: flex;
    flex-direction: row;
}

#follow-text-div p{
    margin: 0 0 10%;
}

/* Social media icons style */

.footer-social {
    display: flex;
    grid-column: 4;
    bottom: 0;
    right: 0;
}

.footer-social ul {
    list-style-type: none;
    display: flex;
}

.footer-social li {
    margin-right: 10px;
}


.footer-social{
    align-items: flex-end;
}

.footer-social a img {
    max-width: 30px;
}

.footer-social a img:hover {
    transform: scale(0.8); 
    transition: transform 0.3s;
}

.Facebook{
    margin-right: 10%;
}

.Instagram{
    margin-right: 10%;
}

/* Style of the text 'follow us!' */

#follow-text {
    color: #000;
    font-weight: bold;
}

#follow-text-div{
    margin-right:4.5%;
}

/*Responsive*/

@media (max-width: 900px) {
   /*Columns and rows*/
   .footer-inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}


} 