body{
    background-image: url("../image/page_accueil/unsplash_kYh-O1Jk7EE.png");
    font-family: "Comic sans MS";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    width: 100%;
    background-size: cover;
}

/*Logo*/

#logo{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo_global{
    height: 20%;
}

#form{
    background-color: #E0EEF1;
    width: 25%;
    padding: 1%;
    border-radius: 8px;
    margin-top: 3%;
}

/*Title*/
h1{
    text-align: center;
}

/*Subtitle*/
#subtitle{
    text-align: center;
}

.inputs{
    background-color: #E0EEF1;  
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#formulaire{
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

.enterText{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    border-radius: 8px;
}

#lastname{
    width: 44%;
}
#firstname{
    width: 44%;
}

#username{
    width: 44%;
}

#password{
    width: 44%;
}

#email{
    display: block;
    margin-right: auto;
    width: 94%;
}

/*Birthdate*/

.date{
    width: 32%;
    border-radius: 8px;
    font-family: "Comic sans MS";
    border-color: black;
}

#birthdate{
    padding-top: 2%;
}

/*Gender*/

.gender{
    display: flex;
    border: 1px;
    border-style: solid;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
    margin: 1%;
    align-items: center;
    
}

.gender_global{
    display: flex;
    justify-content: space-around;
}

#gender_title{
    margin-top: 2%;
    margin-bottom: 2%;
}

.date{
    padding: 1%;
}

/*Family place*/

#placeFamily{
    background-color: #E0EEF1;
}

.multiselect {
    
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: gray;
  }

#select{
    background-color: #E0EEF1;
    border-radius: 8px;
    font-family: "Comic sans MS";
}

/*Conditions*/

#conditions{
    font-size: 70%;
    text-align: center;
}

/*submit*/

#submitDiv{
    text-align: center;
}

#submit{
    width: 50%;
    color: white;
    border-radius: 8px;
    background-color: #226979;
    font-weight: bold;
    font-size: 17px;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*Already have a account*/

#haveAccount{
    text-align: center;
    font-size: 90%;
    color: black;
}
#haveAccount:hover{
    color: #226979;
}

#haveAccount_global{
    text-align: center;
    margin-top: 2%;
}