body{
    background-image: url("../image/page_accueil/unsplash_kYh-O1Jk7EE.png");
    font-family: "Comic sans MS";
}

/*Logo*/

#logo{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo_global{
    height: 20%;
}

#form{
    background-color: #E0EEF1;
    width: 25%;
    padding: 1%;
    border-radius: 10px;
    margin-top: 3%;
}

/*Title*/
h1{
    text-align: center;
}

/*Subtitle*/
#subtitle{
    text-align: center;
}

.inputs{
    background-color: #E0EEF1;  
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#formulaire{
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

.enterText{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    border-radius: 10px;
}

#lastname{
    width: 44%;
}
#firstname{
    width: 44%;
}

#username{
    width: 44%;
}

#password{
    width: 44%;
}

#email{
    display: block;
    margin-right: auto;
    width: 94%;
}

/*Birthdate*/

.date{
    width: 32%;
    border-radius: 10px;
}

#birthdate{
    padding-top: 2%;
    padding-bottom: 2%;
}

/*Gender*/

.gender{
    display: flex;
    border: 1px;
    border-style: solid;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    margin: 1%;
    align-items: center;
    
}

.gender_global{
    display: flex;
    justify-content: space-around;
}

#gender_title{
    margin-top: 2%;
    margin-bottom: 2%;
}

.date{
    padding: 1%;
}

/*Family place*/

#placeFamily{
    background-color: #E0EEF1;
}

/*Conditions*/

#conditions{
    font-size: 70%;
    text-align: center;
}

/*submit*/

#submitDiv{
    text-align: center;
}

#submit{
    width: 30%;
    color: white;
    border-radius: 20px;
    background-color: #226979;
    font-weight: bold;
    font-size: 15px;
}

/*Already have a account*/

#haveAccount{
    background-color: #E0EEF1;
    text-align: center;
    border-style: none;
}

#haveAccount_global{
    text-align: center;
}