#body{
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", sans-serif;
    background-color: #e0eef1;
}

#divBoutonTache{
    background-color: #81acb5;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 5px 10px #3b3b3b;
    border-radius: 12px;
    width: fit-content;
}

#titreDashboard{
    display: flex;
    align-content: space-between;
}

#boutonTaches{
    background-color: #e0eef1;
    height: 40px;
    width: 250px;
    box-shadow: 1px 2.5px 10px #3b3b3b;
    border-radius: 5px;
}

#piechart{
    background-color: #e0eef1;
    padding: 13%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    border-right: 2px solid #81acb5;
}

#barchart{
    background-color: #e0eef1;
    padding: 13%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    border-left: 2px solid #81acb5;
}