body {
    margin: 0px; /* No external margin */
    font-family: "Comic Sans MS", sans-serif;/* Font style */
    background-color: #e0eef1; /* Background color */
}

#PDFpage {
    max-width: 600px;
    margin: 4% auto;
    padding: 2%;
    background-color: #fff; /* Background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
}

#titlePDF {
    text-align: center; /* Center the title */
}

h1 {
    color: #226979; /* Title color */
}

#month,
#year {
    margin-bottom: 1%; /* Space between the select and the title */
    font-weight: bold; /* Bold font */
}

select {
    padding: 8px; 
    font-size: 16px; 
    width: 100%; /* Full width */
    margin-top: 5px; /* Space between the select and the title */
}

#exportButton {
    margin-top: 20px; /* Space between the button and the select */
    background-color: #B3938E;
    color: #fff;
    border: none; /* No border */
    padding: 2%; 
    font-size: 16px; 
    width: 100%; 
}

