body{
    background-color: #c3d9dd;
}

.mentionLegal {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    max-width: 75%;
    margin: auto;
    padding: 20px;
}

.mentionLegal h1 {
    color: #1B058A;
    font-size: 28px;
    margin-bottom: 20px;
}

.mentionLegal h2 {
    color: #0E2FC5;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.mentionLegal h3 {
    color: #0059FF;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 40px;
}

.mentionLegal p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
    margin-left: 80px;
}

.mentionLegal a {
    color: #0056b3;
    text-decoration: none;
}

.legallink{
    color: blue;
}