/* 
* Auteur : Lola Cohidon
* Auteur : Théo Cornu
 */

body{
    margin: 0px;
    font-family: "Comic Sans MS", sans-serif; /*police ecriture*/
    background-color: #e0eef1; /*couleur du fond*/
}



/* Styles pour le conteneur principal */
#ContaintReference {
    display: flex;

    flex-direction: column;
    
    max-width: 1000px; /* Largeur maximale du conteneur */
    margin: 0 auto; /* Centrer le conteneur */
    padding: 20px; /*espace*/
  }

/* Styles pour la barre de recherche */
.search {
  display: flex;
  justify-content: center;
    --input-line: #808080;
    --input-text-color: #808080;
    --input-text-hover-color: transparent;
    --input-border-color: #808080;
    --input-border-hover-color: #999999;
    --input-bg-color: #b1cdd3;
    --search-max-width: 70%;
    --search-min-width: 5%;
    --border-radius: 5px;
    --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    padding: 1%;
    max-width: var(--search-max-width);
    min-width: var(--search-min-width);
    height: 5vh;
    border: 2px solid var(--input-border-color);
    border-radius: var(--border-radius);
    
    background: var(--input-bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: var(--transition-cubic-bezier);
  }
  
  .search-box:hover {
    border-color: var(--input-border-hover-color);
  }
  
  /*Section input*/
  .search-field {

    display: flex;
    justify-content: center;
    align-items: center;
    

    
    border: 0;
  }
  
  .input {
    margin: 0%;
    width: calc(100% - 29px);
    height: 100%;
    border: 0;
    border-color: transparent;
    font-size: 1rem;
    
    color: var(--input-line);
    background: var(--input-bg-color);
    border-right: 2px solid var(--input-border-color);
    border-radius: var(--border-radius);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: none;
  }
  
  .input::-webkit-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input::-moz-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input::-ms-input-placeholder {
    color: var(--input-text-color);
  }
  
  .input:focus::-webkit-input-placeholder {
    color: var(--input-text-hover-color);
  }
  
  .input:focus::-moz-input-placeholder {
    color: var(--input-text-hover-color);
  }
  
  .input:focus::-ms-input-placeholder {
    color: var(--input-text-hover-color);
  }
  
  /*Search button*/
  .search-box-icon {
    
    
    
  
    background: transparent;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
  }
  
  .search-box-icon:hover {
    background: var(--input-border-color);
  }
  
  .btn-icon-content {
    width: 52px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    background: transparent;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
    opacity: .4;
  }
  
  .btn-icon-content:hover {
    opacity: .8;
  }
  
  .search-icon {
    width: 21px;
    height: 21px; 
    position: absolute;
    
  }








 /* Styles pour le tableau */
 .ReferenceTable {
    background-color: #e0eef1;
    padding: 10px; /*espace entre la bordure et le tableau*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
th, td {
    padding: 10px;
    border: 2px solid #ccc; /*Taille de la bordure du tableau*/
}






  
/* Styles pour les bordures du tableau */
table {
    width: 100%;
    border-collapse: separate; /*bordures du tableau séparées*/
    margin-top: 20px;
}
  
th, td {
    padding: 10px;
    border: 1px solid #000; /* Ajout de bordures noires */
}
 
/* Styles pour les cases th */
th {
    background-color: #B3938E; /* Couleur de fond bleue pour les cases th */
    color: #000; /* Couleur du texte noir pour les cases th */
    font-weight: bold; /* Texte en gras pour les cases th */
  }

/* Styles pour les cellules <td> */
td {
    text-align: center; /* Centrer le texte horizontalement */
    background-color: #fff;
}
  
/* Styles pour les images d'icônes */
.icon {
    width: 30px; /* Taille de l'icône */
    height: 30px;
    margin-right: 10px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


 
  
