/* author Théo Cornu */

/* Gestion globale */
body {
    font-family: "Comic Sans MS", sans-serif;
    width: 100%;
    margin: 0 ;
    display: flex;
    flex-direction: column;
}

/* Image du début */
#Debut {
    background-color: #E0EEF1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#Debut p {
    margin-left: 10%;
    margin-right: 10%;
}
#imageDebut {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    /* Masquer les éléments imageDuDeb individuels */
    .imageDuDeb {
        display: none;
    }

    /* Afficher une seule image pour les écrans avec une largeur maximale de 768px */
    #imageDebut {
        background-image: url(../../image/page_connection/logo_soupape2.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 95vw;
    }
}
.imageDuDeb.haut {
    align-self: flex-end;
}
.imageDuDeb.bas {
    align-self: flex-start;
}
.imageDuDeb:nth-child(4n+1) {
    background-image: url(../../image/page_accueil/Family_Dinner.jpg);
}
.imageDuDeb:nth-child(4n+2) {
    background-image: url(../../image/page_accueil/Family_HomeWork.jpg);
}
.imageDuDeb:nth-child(4n+3) {
    background-image: url(../../image/page_accueil/Family_Playing.jpg);
}
.imageDuDeb:nth-child(4n+4) {
    background-image: url(../../image/page_accueil/Women_Kitchen.jpg);
    background-position-x: -120px;
}
.imageDuDeb {
    border-radius: 30px;
    width: 20%;
    height: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Chiffre */
#SomeChiffre {
    background-color: #81ACB5;
    color: #E0EEF1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
}
@media (max-width: 768px) {
    #SomeChiffre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .SmileyChiffre {
        margin-top: 20px;
    }
    .SmileyChiffre.c {
        margin-bottom: 20px;
    }
    #SomeChiffreTexte {
        margin-right: 25%;
        margin-top: 20px;
    }
}
#smiley2{
    z-index: 8;
}
#smiley3Div {

    
    position: relative;
}
#smiley3{
    position: relative;
    z-index: 4;
    max-width: 60px !important;
}
.Smiley_Choked{
    position: relative;
}
#SomeChiffre img {
    max-width: 50px;
    max-height: 50px;
}
#SomeChiffreTexte {
    padding: 7%;
    grid-column: span 2/4;
    padding-left: 32%;
}
.SmileyChiffre {
    justify-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
}
.SmileyChiffre.a {
    grid-row: 2;
    grid-column: 1;
}
.SmileyChiffre.b {
    grid-row: 2;
    grid-column: 2;
}
.SmileyChiffre.c {
    grid-row: 2;
    grid-column: 3;
}
#SomeChiffre h3 {
    color: #FFFF;
    font-size: 300%;
}
.SomeChiffreTexte {
    grid-column: 3;
}
.nbWrite {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nbWrite * {
    margin: -5%;
}

@keyframes tremble {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-5px, -5px);
    }
    40% {
        transform: translate(5px, -5px);
    }
    60% {
        transform: translate(-5px, -5px);
    }
    80% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* FAQ */
#FAQ {
    background-color: #226979;
}
#FAQ img {
    max-width: 500px;
    border-radius: 30px;
}
#FAQ img[alt="FAQ"] {
    width: 50vw;
}
#FAQcontainer {
    padding: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#FAQcontainer div {
    margin: 50px;
}
/* Styles pour les écrans de petite taille */
@media (max-width: 160vh) {
    #FAQcontainer {
        flex-direction: column;
        text-align: center;
    }
    #FAQcontainer #PixiPresentation {
        position: relative;
        width: auto;
        margin-top: 5%;
        right: auto;
    }
    #FAQcontainer div {
        margin: 1% 0;
    }
    #Faq_Pixi {
        display: flex;
        flex-direction: column;
    }
}
#PixiPresentation fieldset {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 5vw;
    border: none;
    border-radius: 10px;
    text-align: center;
}
label[for="Statut"] {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 5%;
}
#PixiPresentation fieldset img {
    max-width: 70px;
    border-radius: 100%;
}
#Faq_Pixi {
    position: relative;
    width: 100%;
}
#PixiPresentation {
    position: absolute;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    top: 25%;
    right: -50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 5;
}
#PixiPresentation .field {
    margin: 10px;
}
#Faq_Pixi {
    display: flex;
    justify-content: center;
    align-items: center;
}
.relative-container {
    position: relative;
}
#FAQcontainer h2 {
    color: white;
}
#FAQcontainer p {
    color: #ccc;
}

/* Bouton More About Us */
#MAU {
    background-color: #81ACB5;
    border: none;
    border-radius: 5px;
    font-family: "Comic Sans MS", sans-serif;
    padding: 1% 2% 1%;
    color: white;
}
#MAU:hover {
    background-color: #91B7BF;
}
#MAU:active {
    background-color: #81ACB5;
}

/* Bouton Messages */
input[value="Messages"] {
    background-color: #81ACB5;
    border: none;
    border-radius: 5px;
    font-family: "Comic Sans MS", sans-serif;
    padding: 10% 20% 10%;
    color: white;
}
input[value="Messages"]:hover {
    background-color: #91B7BF;
}
input[value="Messages"]:active {
    background-color: #81ACB5;
}

/* Tutoriel */
#Tuto {
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}
#Tuto video {
    margin: 10%;
    width: 80vw;
    height: 50vh;
}
#Tuto p {
    color: #ccc;
}

/* Publication */
#Publication {
    background-color: #ECE4E3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    color: white;
}
#PubliGauche {
    display: flex;
    flex-direction: column;
    grid-column: 1;
}
#PubliGauche h4 {
    margin-bottom: 0%;
    margin-left: 1%;
}
#slider_1 {
    grid-column: 2;
}
#imgA {
    background-image: url(../../image/page_accueil/ppMan.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: -5px;
}
#imgB {
    background-image: url(../../image/page_accueil/ppWomen.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}
#imgC {
    background-image: url(../../image/page_accueil/ppMan2.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: -20px;
}
#imgD {
    background-image: url(../../image/page_accueil/ppWomen2.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: -10px;
}
.people {
    display: flex;
    align-items: center;
}
#Publication h2 {
    margin-bottom: 0;
}
#Publication h5 {
    margin-top: 0;
    color: #ccc;
    font-size: 10px;
}
#Publication p {
    color: #ccc;
}
#ligneP {
    justify-self: center;
    grid-row: 2;
    grid-column: span 2;
    width: 70%;
    height: 1px;
    background-color: #000;
}

/* Gestion du carrousel */
.slider {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

.slider-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1s all;
}

.slider-panel.active {
    opacity: 1;
}

.slider-controls {
    width: 100%;
    bottom: 0px;
}

.slider-control {
    display: inline-block;
    width: 30px;
    height: 5px;
    margin: 10px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.slider-control.active {
    background-color: #fff;
}

/* Le slider */
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slide {
    background-color: #2196F3;
}

input:focus + .slide {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Curseurs arrondis */
.slide.round {
    border-radius: 34px;
}

.slide.round:before {
    border-radius: 50%;
}

/* Animation du cœur */
.heart {
    z-index: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../../image/page_accueil/Coeur.png);
    background-size: cover;
    top: 10px;
    animation: rise 3s linear;
}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}
