footer {
    background-color: #E0EEF1;
    padding: 20px;
    text-align: center;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style pour le logo */
.footer-logo {
    width: 100px;
}

.footer-right {
    display: flex;
    align-items: flex-end; /* Alignez les éléments en bas */
    justify-content: flex-end; /* Alignez les éléments à droite */
}

/* Styles pour les images des logos */
.footer-right img {
    width: 30px; /* Définissez la largeur souhaitée pour les logos */
    margin: 4px; /* Ajoutez de l'espace autour des logos si nécessaire */
}




