/*gestion globale*/
body{
    font-family: "Comic Sans MS", sans-serif;
}

/*image du début*/
#Debut{
    background-color: #E0EEF1;
	display: flex;
    flex-direction: column;
	justify-content:space-around;
	align-items: center;
}
#Debut p{
    margin-left: 10%;
    margin-right: 10%;
}
#imageDebut{
    /*display: flex;
    justify-content: space-around;*/
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 400px;
    margin-top: 30px;
	margin-bottom: 30px;
}
.imageDuDeb.haut{
    align-self: flex-end;
}
.imageDuDeb.bas{
    align-self: flex-start;
}
.imageDuDeb:nth-child(4n+1) {
	background-image: url(/image/page_accueil/Family_Dinner.jpg);
    
}

.imageDuDeb:nth-child(4n+2) {
	background-image: url(/image/page_accueil/Family_HomeWork.jpg);
   
}

.imageDuDeb:nth-child(4n+3) {
	background-image: url(/image/page_accueil/Family_Playing.jpg);
    
}

.imageDuDeb:nth-child(4n+4) {
	background-image: url(/image/page_accueil/Women_Kitchen.jpg);
    background-position-x: -120px;
    
}


.imageDuDeb
{
   
    border-radius: 30px;
    width: 20%;
    height: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


/*Chiffre */
#SomeChiffre{
    background-color: #81ACB5;
    color: #E0EEF1;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
    justify-content: center;
    
}
#SomeChiffre img{
    max-width: 50px;
    max-height: 50px;
    
}
#SomeChiffreTexte{
    padding: 7%;
    grid-column: span 2/4;
    padding-left: 25%;
}
.SmileyChiffre{
    justify-self: center;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    width: 15vw;
}
.SmileyChiffre.a{
    grid-row: 2;
    grid-column: 1;
   
}
.SmileyChiffre.b{
    grid-row: 2;
    grid-column: 2;
}
.SmileyChiffre.c{
    grid-row: 2;
    grid-column: 3;
}
#SomeChiffre h3{
    color: #FFFF;
    font-size: 300%;
}
.SomeChiffreTexte{
    grid-column: 3;

}
.nbWrite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.nbWrite *{
    margin: -5%;
}
/*Faq*/
#FAQ {
    background-color: #226979;
}

#FAQ img {
    max-width: 500px;
    border-radius: 30px;
}

#FAQcontainer {
    padding: 10%;
    display: flex;
    justify-content: space-between; /* Permet de séparer les éléments à gauche et à droite */
    
    align-items: center; /* Centre verticalement les éléments */
}
#FAQcontainer div{
    margin: 50px;
}

#PixiPresentation fieldset {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 5vw;
    border: none;
    border-radius: 10px;
    text-align: center; /* Centre le texte horizontalement */
    
}

label[for="Statut"] {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 5%;
}  
    
    


#PixiPresentation fieldset img {
    max-width: 70px;
    border-radius: 100%;
}

#Faq_Pixi {
    position: relative;
    width: 100%; /* Assurez-vous que le conteneur d'image occupe toute la largeur de son conteneur parent */
}
#PixiPresentation {
    position: absolute;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    top: 25%;
    right: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 5; /* Assurez-vous que z-index est supérieur aux autres éléments si nécessaire */
}
.relative-container {
    position: relative; /* Position relative pour permettre le positionnement absolu de #PixiPresentation */
}

#FAQcontainer h2{
    color: white;
}
#FAQcontainer p{
    color: #ccc;
}

/*bouton more about us */
#MAU{
    background-color: #81ACB5;
    border: none;
    border-radius: 5px;
    font-family: "Comic Sans MS", sans-serif;
    padding : 1% 2% 1%;
    color: white;
}

#MAU:hover{
    background-color: #91B7BF;
}
#MAU:active{
    background-color: #81ACB5;
}

/*bouton Messages */
input[value="Messages"]{
    background-color: #81ACB5;
    border: none;
    border-radius: 5px;
    font-family: "Comic Sans MS", sans-serif;
    padding : 10% 20% 10%;
    color: white;
}

input[value="Messages"]:hover{
    background-color: #91B7BF;
}
input[value="Messages"]:active{
    background-color: #81ACB5;
}



/*Tuto*/
#Tuto{
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}
#Tuto video{
    margin :10%;
    width: 80vw;
    height: 50vh;
}
#Tuto p{
    color: #ccc;
}




/*Publication*/
#Publication{
    background-color: #ECE4E3;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
#PubliGauche{
    display: flex;
    flex-direction: column;
    grid-column: 1;
}
#PubliGauche h4{
    margin-bottom: 0%;
    margin-left: 1%;
}

#slider_1{
    grid-column: 2;
}

#imgA{
    background-image: url(/image/page_accueil/ppMan.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: -5px ;
}
#imgB{
    background-image: url(/image/page_accueil/ppWomen.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}
#imgC{
    background-image: url(/image/page_accueil/ppMan2.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: -20px ;
}
#imgD{
    background-image: url(/image/page_accueil/ppWomen2.jpg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position-x: -10px ;
}
.people{
    display: flex;
    align-items: center;
}
#Publication h2{
    margin-bottom: 0;
}



/* gestion du carrousel */
.slider {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

.slider-panel
{
   
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity:0;
    transition:1s all;
}



.slider-panel.active{    
    opacity:1;
}

.slider-controls {
    width: 100%;
    
    bottom: 0px;
    
}

.slider-control {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #555;
    border-radius: 50%;
    cursor: pointer
}

.slider-control.active {
    background-color: #fff;
}


/* The slider */
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slide:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slide {
    background-color: #2196F3;
}

input:focus + .slide {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slide.round {
    border-radius: 34px;
}

.slide.round:before {
	border-radius: 50%;
}